@import "../../app/styles/breackpoints.scss";

.SearchInputForm {
    max-width: 1050px;
    width: 100%;
    position: relative;

    .SearchInput {
        padding-left: 40px;
        width: 100%;
        height: 32px;
        border-radius: 12px;
        background: rgb(29, 34, 40);
        color: rgb(255, 255, 255);

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
            font-family: Raleway;
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            letter-spacing: 0%;
            text-align: left;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    .SearchIcon {
        position: absolute;
        left: 20px;
        top: 18px;
        transform: translateY(-50%);
    }

}

@media (max-width: $xxl) {
    .SearchInputForm {
        max-width: 1000px;
    }
}

@media (max-width: $xl) {
    .SearchInputForm {
        max-width: 900px;
    }
}

@media (max-width: $md) {
    .SearchInputForm .SearchInput {
        height: 28px;
    }

    .SearchInputForm .SearchIcon {
        top: 14px;
    }
}