@import "../../app/styles/breackpoints.scss";

.about {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 20px;

    .about__section {
        .about__section-bckg {
            position: relative;
            background-image: url(../../../public/images/backg.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 582px;

            .section__bckg-info {
                position: absolute;
                display: flex;
                top: 90%;
                left: 50%;
                transform: translate(-50%, 20%);
                max-width: 518px;
                width: 100%;
                height: 75px;
                border-radius: 16px;
                box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.05);
                background: rgb(48, 54, 61);
                align-items: center;
                justify-content: space-around;

                .bckg__info-price {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .info__price-text {
                        color: rgba(255, 255, 255, 0.5);
                        font-family: Raleway;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 16px;
                        letter-spacing: 0%;
                        text-align: left;
                    }

                    .info__price-number {
                        display: flex;
                        align-items: center;

                        .price__number-m {
                            color: rgb(255, 255, 255);
                            font-family: Raleway;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 19px;
                            letter-spacing: 0%;
                            text-align: left;
                        }

                        .price__number-th {
                            color: rgba(255, 255, 255, 0.5);
                            font-family: Raleway;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 19px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                    }
                }

                .bckg__info-time {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .info__price-text {
                        color: rgba(255, 255, 255, 0.5);
                        font-family: Raleway;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 16px;
                        letter-spacing: 0%;
                        text-align: left;
                    }

                    .info__time-number {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .time__number-date {
                            color: rgb(255, 255, 255);
                            font-family: Raleway;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 19px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                    }
                }

                .bckg__info-btn {
                    border-radius: 12px;
                    max-width: 138px;
                    width: 100%;
                    color: rgb(255, 255, 255);
                    font-family: Raleway;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                    letter-spacing: 0%;
                    text-align: center;
                    border: none;
                    height: 40px;
                    box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
                    cursor: pointer;
                    background: linear-gradient(270.00deg, rgb(135, 67, 255), rgb(65, 54, 241) 100%);

                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                    }

                    &:active {
                        transform: translateY(0);
                        box-shadow: none;
                    }
                }
            }
        }

        .about__activity {
            margin-top: 85px;
            display: flex;
            justify-content: space-between;

            .home__profile {
                max-width: 520px;
                width: 100%;
                margin-bottom: 30px;

                .profile__user {
                    display: flex;
                    max-width: 160px;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;


                    .profile__user-image {
                        object-fit: cover;
                    }

                    .profile__user-name {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .user__name-name {
                            color: rgb(255, 255, 255);
                            font-family: Raleway;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 21px;
                            letter-spacing: 0%;
                            text-align: left;
                        }

                        .user__name-username {
                            background: linear-gradient(270.00deg, rgb(135, 67, 255), rgb(216, 194, 255));
                            -webkit-background-clip:
                                text;
                            -webkit-text-fill-color:
                                transparent;
                            background-clip:
                                text;
                            font-family: Raleway;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 16px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                    }
                }

                .home__profile--headline {
                    color: rgb(255, 255, 255);
                    font-family: Raleway;
                    padding-top: 20px;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 38px;
                    letter-spacing: 0%;
                    text-align: left;
                }

                .home__profile-desc {
                    padding-top: 12px;
                    color: rgb(255, 255, 255);
                    font-family: Raleway;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                    letter-spacing: 0%;
                    text-align: left;
                }

                .home__profile-link {
                    padding-top: 16px;
                    display: flex;
                    justify-content: flex-start;

                    .profile__link-btns {
                        display: flex;
                        gap: 8px;
                        max-width: 250px;
                        width: 100%;
                        gap: 8px;
                        align-items: center;


                        .link__btns-small {
                            width: 40px;
                            height: 40px;
                            box-sizing: border-box;
                            border: 1px solid rgba(255, 255, 255, 0.1);
                            border-radius: 12px;
                            background: none;

                            &:hover {
                                transform: translateY(-3px);
                                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                            }

                            &:active {
                                transform: translateY(0);
                                box-shadow: none;
                            }
                        }
                    }
                }
            }

            .about__activity-desc {
                max-width: 778px;
                width: 100%;

                .activity__desc-headline {
                    color: rgb(255, 255, 255);
                    font-family: Raleway;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0%;
                    text-align: left;
                }

                .activity__desc-container {
                    margin-top: 16px;
                    height: 100%;
                    max-height: 400px;
                    /* Установить максимальную высоту */
                    overflow-y: auto;
                    /* Включить вертикальный скроллинг */
                    overflow-x: hidden;

                    /* Отключить горизонтальный скроллинг */
                    &::-webkit-scrollbar {
                        width: 5px;
                        border-radius: 99px;
                        background: rgba(255, 255, 255, 0.5);
                    }

                    .desc__container-inner {
                        width: 100%;
                        height: 67px;
                        box-sizing: border-box;
                        border: 1px solid rgb(51, 57, 64);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 16px;

                        .container__inner-part {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .desc__container-bid {
                                display: flex;
                                flex-direction: column;
                                gap: 4px;
                                max-width: 400px;
                                width: 100%;

                                .container__bid-number {
                                    color: rgb(255, 255, 255);
                                    font-family: Raleway;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 23px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }

                                .container__bid-date {
                                    color: rgba(255, 255, 255, 0.5);
                                    font-family: Raleway;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 16px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }

                            }

                            .info__price-number {
                                display: flex;
                                align-items: center;
                                gap: 5px;

                                .price__number-m {
                                    color: rgb(255, 255, 255);
                                    font-family: Raleway;
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 19px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }

                                .price__number-th {
                                    color: rgba(255, 255, 255, 0.5);
                                    font-family: Raleway;
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 19px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }
                            }

                            .desc__container-btn {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 12px;
                                width: 32px;
                                height: 32px;
                                border: none;
                                box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
                                /* Linear */
                                background: linear-gradient(270.00deg, rgb(135, 67, 255), rgb(65, 54, 241) 100%);

                                &:hover {
                                    transform: translateY(-3px);
                                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                                }

                                &:active {
                                    transform: translateY(0);
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .card__section {
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
        padding: 0 24px;
        margin-top: 78px;
        margin-bottom: 80px;

        .card__section-headline {
            color: rgb(255, 255, 255);
            font-family: Raleway;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
        }

        .card__content {

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 16px;
            width: 100%;
            margin-top: 24px;

        }
    }
}

@media (max-width: $xxl) {
    .about .card__section .card__content {
        grid-template-columns: repeat(3, 1fr);
    }

    .about .about__section .about__activity {
        gap: 15px;
    }

}

@media (max-width: $xl) {
    .about .about__section .about__activity .about__activity-desc .activity__desc-container .desc__container-inner .container__inner-part .desc__container-bid .container__bid-number {
        font-size: 15px;
    }

    .about .about__section .about__activity .about__activity-desc .activity__desc-container .desc__container-inner .container__inner-part .desc__container-bid {
        width: 250px;
    }
}

@media (max-width: $lg) {
    .about .card__section .card__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $mm) {
    .about .about__section .about__activity {
        flex-direction: column;
    }

    .about .about__section .about__activity .home__profile {
        max-width: 100%;
    }
}

@media (max-width: $sm) {
    .about .card__section .card__content {
        grid-template-columns: repeat(1, 1fr);
    }

    .about .about__section .about__activity .about__activity-desc .activity__desc-container .desc__container-inner .container__inner-part .desc__container-bid {
        width: 100%;

    }

    .about .about__section .about__activity .about__activity-desc .activity__desc-container .desc__container-inner {
        height: 100px;
    }

    .about .about__section .about__section-bckg .section__bckg-info .bckg__info-price .info__price-number .price__number-m {
        font-size: 10px;
    }

    .about .about__section .about__section-bckg .section__bckg-info .bckg__info-price .info__price-number .price__number-th {
        font-size: 10px;
    }

    .about .about__section .about__section-bckg .section__bckg-info .bckg__info-time .info__time-number .time__number-date {
        font-size: 10px;
    }

    .about .about__section .about__section-bckg .section__bckg-info .bckg__info-time .info__time-number {
        gap: 10px;
        justify-content: center;
    }

    .about .about__section .about__section-bckg .section__bckg-info .bckg__info-btn {
        max-width: 100px;
        font-size: 10px;
    }
}

@media (max-width: $xs) {
    .about .about__section .about__section-bckg {
        height: 400px;
    }

    .about .about__section .about__activity .about__activity-desc .activity__desc-container .desc__container-inner {
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        padding: 5px;
    }
}

@media (max-width: $xxs) {
    .about .about__section .about__section-bckg .section__bckg-info .bckg__info-price .info__price-text {
        font-size: 11px;
    }

    .about .about__section .about__section-bckg .section__bckg-info .bckg__info-time .info__price-text {
        font-size: 11px;
    }


}