.profilePage {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 20px;
    margin-bottom: 20px;

    .home__profile {
        width: 100%;
        margin-bottom: 30px;

        .profile__user-inner {
            display: flex;
            justify-content: space-between;

            .profile__user {
                display: flex;
                gap: 8px;
                align-items: center;
                width: 100%;


                .profile__user-image {
                    object-fit: cover;
                }


                .profile__user-name {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .user__name-name {
                        color: rgb(255, 255, 255);
                        font-family: Raleway;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 21px;
                        letter-spacing: 0%;
                        text-align: left;
                    }

                    .user__name-username {
                        background: linear-gradient(270.00deg, rgb(135, 67, 255), rgb(216, 194, 255));
                        -webkit-background-clip:
                            text;
                        -webkit-text-fill-color:
                            transparent;
                        background-clip:
                            text;
                        font-family: Raleway;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 0%;
                        text-align: left;
                    }
                }
            }

            .home__profile-link {
                display: flex;
                justify-content: space-between;

                .profile__link-btns {
                    display: flex;
                    gap: 8px;
                    width: 100%;

                    justify-content: space-between;
                    align-items: center;

                    .link__btns-view {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        color: rgb(255, 255, 255);
                        font-family: Raleway;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16px;
                        letter-spacing: 0%;
                        text-align: left;
                        width: 97px;
                        height: 40px;
                        border-radius: 12px;
                        box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
                        background: linear-gradient(270.00deg, rgb(135, 67, 255), rgb(65, 54, 241) 100%);

                        &:hover {
                            transform: translateY(-3px);
                            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                        }

                        &:active {
                            transform: translateY(0);
                            box-shadow: none;
                        }
                    }

                    .link__btns-small {
                        width: 40px;
                        height: 40px;
                        box-sizing: border-box;
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        border-radius: 12px;
                        background: none;

                        &:hover {
                            transform: translateY(-3px);
                            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                        }

                        &:active {
                            transform: translateY(0);
                            box-shadow: none;
                        }
                    }
                }
            }

        }

        .home__profile--headline {
            color: rgb(255, 255, 255);
            font-family: Raleway;
            padding-top: 20px;
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: 0%;
            text-align: left;
        }

        .edit__inner--contacts {
            display: flex;
            gap: 26px;
            margin-top: 24px;

            .inner__contacts--name {
                color: rgba(255, 255, 255, 0.5);
                font-family: Raleway;
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
                letter-spacing: 0%;
                text-align: left;
            }

            .inner__contacts--icon {
                display: flex;
                gap: 32px;

                .contacts__icon--info {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    width: 100%;
                    max-width: 90px;

                    .icon__info--name {
                        color: rgb(255, 255, 255);
                        font-family: Raleway;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0%;
                        text-align: left;

                    }
                }

                .contacts__icon--input {
                    border-radius: 8px;
                    background: rgb(29, 34, 40);
                    height: 40px;
                    max-width: 500px;
                    width: 100%;
                    border: none;
                    color: white;
                }
            }
        }

        .home__profile-desc {
            padding-top: 12px;
            color: rgb(255, 255, 255);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0%;
            text-align: left;
            max-width: 1061px;
            width: 100%;
        }
    }

    .card__content {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 16px;
        width: 100%;
        margin-top: 24px;

    }
}