.follow {
    border-radius: 32px;
    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.05);
    background: rgb(48, 54, 61);
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: calc(100% - 40px);
    padding: 25px 24px 20px;
    max-height: calc(100vh - 80px - 20px);
    width: 653px;
    display: flex;
    flex-direction: column;
    z-index: 1000;

    .follow__headline {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .follow__headline-btn {
            display: flex;
            gap: 10px;

            .follow__btn {
                color: rgba(255, 255, 255, 0.5);
                padding: 0;
                cursor: pointer;
                font-family: Raleway;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0%;
                text-align: center;
                background: none;
                border: none;

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                }

                &:active {
                    transform: translateY(0);
                    box-shadow: none;
                    color: rgb(255, 255, 255);
                }
            }

        }

        .follow__close-btn {
            border: none;
            background: none;
            cursor: pointer;


            &:hover {
                transform: translateY(-3px);
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
            }

            &:active {
                transform: translateY(0);
                box-shadow: none;
            }
        }
    }

    .follow__inner {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        gap: 32px;
        height: 100%;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 99px;
            background: rgba(255, 255, 255, 0.5);
        }

        .follow__inner-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .profile__user {
                display: flex;
                gap: 8px;
                align-items: center;
                width: 100%;


                .profile__user-image {
                    object-fit: cover;
                }


                .profile__user-name {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .user__name-name {
                        color: rgb(255, 255, 255);
                        font-family: Raleway;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 21px;
                        letter-spacing: 0%;
                        text-align: left;
                    }

                    .user__name-username {
                        background: linear-gradient(270.00deg, rgb(135, 67, 255), rgb(216, 194, 255));
                        -webkit-background-clip:
                            text;
                        -webkit-text-fill-color:
                            transparent;
                        background-clip:
                            text;
                        font-family: Raleway;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 0%;
                        text-align: left;
                    }
                }
            }

            .follow__inner-btn {
                width: 109px;
                height: 40px;
                border-radius: 12px;
                cursor: pointer;
                box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
                color: rgb(255, 255, 255);
                font-family: Raleway;
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0%;
                background: linear-gradient(270.00deg, rgb(135, 67, 255), rgb(65, 54, 241) 100%);
                border: none;

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                }

                &:active {
                    transform: translateY(0);
                    box-shadow: none;
                }
            }
        }
    }
}